.container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('http://192.168.44.101:5174/images/map_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover
}

.bar {
  width: auto;
  height: 5%;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgb(224, 243, 243);
  z-index: 1000;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  font-size: 1rem;
  // font-weight: bolder;
}